.container{

  width: 400px;
    margin: 50px auto;
    background: #ebfaf8;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    .container-wrapper{
        padding:20px;
        text-align:center;
        hr{
          width:83%;
          margin-bottom:25px;
          margin-top:0px;
          color:#00bfa0;
        }
        select{
          width: 83%;
          margin: 0 auto;
          height: 34px;
          margin-top: 5px;
        }
        h2, h4{
            margin:0;
        }
        h2{
            margin-bottom:10px;
        }
        .form-field{
            display: flex;
            flex-direction: column;
            margin-bottom:20px;
        }

        .mint-home:hover{
            background: var(--baseColorHover);
            min-width:310px;
            padding: 17px 30px;
            font-size: 19px;
            transition: 0.3s ease-in;
          }

          .mint-home{
              cursor:pointer;
            border: none;
            background: var(--baseColor);
            color: white;
            font-size: 18px;
            font-family: "Cuprum", sans-serif;
            padding: 16px 30px;
            font-weight: bold;
            min-width: 300px;
            border-radius: 7.5px;
            transition: 0.3s ease-out;
            a{
              color:white;
            }
          }
          .help{
            font-size: 12px;
            width: 82%;
            margin: 0 auto;
            margin-top: 0px;
            margin-top: 10px;
          }
    }
}

.socials{
  text-align: center;
font-size: 13px;
a{
  text-decoration: none;
  color:#333;
}
}